<h2 class="sub-header">My Commitments</h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Start</th>
        <th>End</th>
        <th>Requestor</th>
        <th>Comments</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in commitments.requestList track by $index">
        <td>{{item.startDisplay}}</td>
        <td>{{item.endDisplay}}</td>
        <td>{{item.first_name}} {{item.last_name}}</td>
        <td>{{item.comments}}</td>
        <td>
          <!-- <button class="btn btn-sm btn-primary" ng-click="commitments.uncommit(item.id)">Withdraw Offer</button> -->
          <button class="btn btn-sm btn-primary" ng-click="commitments.markComplete(item)">Completed</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
