<form class="inviteForm" action="/invitations" method="post">
  <h2>Invite New Members</h2>
  <label for="inputEmail" class="sr-only">Email address</label>
  <input type="email" name="email" class="form-control" placeholder="Email address" required autofocus>
  <label for="message" class="sr-only">Message</label>
  <textarea name="message" class="form-control" value="Please click the link below to join my childcare coop."></textarea>
  <input class="btn btn-md btn-primary" type="submit" value="Send Invitation"/>
</form>

<hr />

<h2 class="sub-header">Open Invitations</h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Email Address</th>
        <th>Date Sent</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in invites.inviteList track by $index">
        <td>{{item.email}}</td>
        <td>{{item.display_date}}</td>
        <!-- Right now anyone in a coop can cancel an invitation. OK? Or should it only be the person who sent it? -->
        <td><button class="btn btn-sm btn-primary" ng-click="invites.delete(item)">Cancel Invitation</button></td>
      </tr>
    </tbody>
  </table>
</div>
