<h2 class="sub-header">Open Requests</h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Start</th>
        <th>End</th>
        <th>Requestor</th>
        <th>Comments</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in open.requestList track by $index">
        <td>{{item.display_start_time}}</td>
        <td>{{item.display_end_time}}</td>
        <td>{{item.first_name}} {{item.last_name}}</td>
        <td>{{item.comments}}</td>
        <td><button class="btn btn-sm btn-primary" ng-click="open.assignRequest(item)">I Can Help</button></td>
      </tr>
    </tbody>
  </table>
</div>
