<form class="req-form" action="/req-form" method="post">
  <h2 class="form-request-heading">Make a request</h2>
  <div ng-controller="DatepickerDemoCtrl">
    <pre>Selected date is: <em>{{dt | date:'fullDate' }}</em></pre>
    <div style="display:inline-block; min-height:290px;">
      <uib-datepicker ng-model="dt" class="well well-sm" datepicker-options="options"></uib-datepicker>
  </div>
  </div>
    <label for="comments" class="sr-only">Comments</label>
    <textarea name="comments" id="comments" lass="form-control" placeholder="Comments" required autofocus>
  </form>
